<footer class="footer">
  <div class="footer-content">
    <p class="footer-credits">
      Página desarrollada por
      <a href="https://www.linkedin.com/in/ezequiel-di-leo/" target="_blank" rel="noopener noreferrer">
        Ezequiel Di Leo
      </a>
    </p>
    <p><a href="/politica" style="text-decoration: none; color: rgb(155, 155, 155); font-size: 15px;">Aviso Legal & Politica de privacidad</a></p>
    <hr class="footer-divider" />
    <p class="footer-rights">© 2025 Todos los derechos reservados.</p>
  </div>
</footer>
